.card{
    display: flex;
    flex-direction: column;
    border: 5px solid black;

}
.card-body{
    background-color: darkred;
}
body{
    background-color: bisque;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.group-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}